body {
    margin: 0px;
}

h1 {
    font-size: 3em;
}

h1, h2 {
    color: #C66918;
}

#homepage-block{
    display:flex;
    flex-direction:column;
    align-content:flex-end;
    text-align: center;
    background-color: #FCF0E1;
    margin: 5em;
    padding: 2em;
}

#homepage-h2{
    background-color: #FFF9F2;
    margin: 2em;
    padding:1em;
}

#homepage-block button {
    /* background color */
    background-color: #064885;
    /* text color */
    color: white;
    border: none;
    border-radius: 32px;
    padding: 1em;
    max-width: 200px;
    font-size: 1em;
    
}



/* menu nav bar formatting */

/* targets all unordered lists */
.menu ul {
    display:flex;
    margin:0;
    padding:0;
    list-style: none;
    justify-content: space-around;
    background-color: #4286c5;
    box-shadow: 3px 0 3px black;
}

/* targets all list items in the class */
.menu li {
    padding: 10px;
    font-size: 20px;
}
.menu li:hover {
    background-color: #064885;
}

/* specifically targets the submenu gruops in the menu class */
.menu .submenu {
    display: block;
    position:absolute;
    top: 43px;
    /* left: 10px; */
    background-color: #064885;
}

/* targets list items in the submenus, important for colors appearance */
.menu li .submenu {
    display:none;
    transition: 1s opacity;
}

/* targets all the links in the menu and submenu classes */
.menu a, .submenu a {
    text-decoration: none;
    color: white;
}

.menu li:hover .submenu {
    display: block;
    opacity: 100%;
}


.content-block {
    display:flex;
    flex-direction:column;
    align-content:flex-end;
    text-align: center;
    background-color: #FCF0E1;
    margin: 5em;
    padding: 2em;
}

.vocab-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: stretch;
}

.greyout-h2{
    color: rgba(128, 128, 128, 0.682);
}