body {
    margin: 0px;
    background-image: url(../images/background.jpeg);
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 3em;
}

h1, h2, h4 {
    color: #C66918;
    font-weight: bold;
}

h3 {
    font-weight: bold;
    font-style: italic;
}

h4, label{
    font-size: 18px;
}

/* Adjusts margin */
h4 {
    margin-top: 0px;
}

#homepage-block{
    display:flex;
    flex-direction:column;
    align-content:flex-end;
    text-align: center;
    background-color: #FCF0E1;
    margin: 5em;
    padding: 2em;
}

#homepage-h2{
    background-color: #FFF9F2;
    margin: 2em;
    padding:1em;
}

#homepage-block button {
    /* background color */
    background-color: #064885;
    /* text color */
    color: white;
    border: none;
    border-radius: 32px;
    padding: 1em;
    min-width: 150px;
    max-width: 200px;
    font-size: 1em;
    margin: auto;
    
}



/* menu nav bar formatting */

/* targets all unordered lists */
.menu ul {
    display:flex;
    margin:0;
    padding:0;
    list-style: none;
    justify-content: space-around;
    background-color: #4286c5;
    box-shadow: 3px 0 3px black;
}

/* targets all list items in the class */
.menu li {
    padding: 10px;
    font-size: 20px;
}
.menu li:hover {
    background-color: #064885;
}

/* specifically targets the submenu gruops in the menu class */
.menu .submenu {
    display: block;
    position:absolute;
    top: 43px;
    /* left: 10px; */
    background-color: #064885;
}

/* targets list items in the submenus, important for colors appearance */
.menu li .submenu {
    display:none;
    transition: 1s opacity;
}

/* targets all the links in the menu and submenu classes */
.menu a, .submenu a {
    text-decoration: none;
    color: white;
}

.menu li:hover .submenu {
    display: block;
    opacity: 100%;
}


.content-block {
    display:flex;
    flex-direction:column;
    align-content:flex-end;
    text-align: center;
    background-color: #FCF0E1;
    margin: 5em;
    padding: 2em;
}

.vocab-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: stretch;
}

.greyout-h2{
    color: rgba(128, 128, 128, 0.682);
}

/*This targets the history page's quiz questions. */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    /* background-color: #FFF9F2; */
    border-radius: 20px;
    justify-content: center;
  }

/*This targets the history page's quiz questions. */
.flex-container > div {
    background-color: #E9DDCF;
    width: 350px;
    margin: 10px;
    padding: 20px;
    font-size:14px;
    line-height: 2em;
    border-radius: 20px;
  }

/* Targets the content paragraphs */
p{
    font-size: 20px;
    text-align: left;
    padding-top: 30px;
    line-height: 2em;
}

/* Targets the quiz questions */
form{
    text-align: left;
}

/* Formats quiz buttons */
.submit {
    margin-top: 10px;
    padding: 7px;
    background-color: #DA8D4A;
    border-radius: 10px;
    font-size: 16px;
}